@charset "utf-8";
/*CSS Document*/

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #fff;
}
#cabecalho{
    background-color: #343A40;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    position: fixed;
    
}
#cabecalho>.nav-cab{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
   margin-right: 5%;
   
}

#cabecalho >.nav-cab> .logo >a> .pato{
    width: 100%;
    height: 20vh;
    border: 15px #343A40 double;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    
    padding-top: 149px;
}
#cabecalho >.nav-cab> p{
    padding-left: 50px;
    color: white;
    font-size:x-large;
    
}