@charset "utf-8";
/*CSS Document*/

:root {
    --main-color: #343A40;
    --secondary-color: rgb(227, 234, 240);
}
.main-section{
    display: flex;
    justify-content: center;
}
.container{
    background-color: var(--secondary-color);
    width: 30%;
    min-width: 70%;
    height: 160vh;
    flex-wrap: wrap;
    display: grid;
    justify-items: center;
   align-self: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 5fr) ;
    margin-top: 5%;
}

.card{
    margin-top: 15%;
    width: 80%;
    height: 30vh;
    border-radius: 50px 5px 30px 5px;
    background-color: #fff;
    margin-bottom: 5%;
	text-align: center;
	font-size: 10px;
}
.main-section>.container .card .imgpato{
    width: 100%;
    border-radius: 30px;
}

@media(max-width:200px) {

}
.promocoes{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;

}
.promocoes>.mostruario{
    background-color: var(--secondary-color);
    margin-top: 10%;
    width: 70%;
    height: 55%;
    display: flex;
    justify-content: center;
}

.promocoes>.mostruario>.oferta{

    width: 20%;
    height: 30%;
}
.promocoes>.mostruario>.produto{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.promocoes>.mostruario>.oferta>p,h3{
    color: white;
    font-size: xx-large;
    
}
.promocoes>.mostruario>.produto>.fotoProduto{
    width: 70%;
    border-radius: 20px 15px 20px 15px;
}
